{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-classroom</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static "static/classroom/SpecificAnnouncement.css" %}" rel="stylesheet">
</head>
<body>
    {% include "header.html" %}
    <main>
        <div class="main-menu">
            <nav class="main-menu-nav">
                <ul class="main-menu-list">
                    {% include "menu.html" with current_classroom_id=current_classroom_id %}
                    <!-- Add more menu items as needed -->
                </ul>
            </nav>
        </div>
        <section class="main-content" id="class-desc">
            {% if messages %}
                {% for message in messages  %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <h3>{{announcement.title}}</h3>
            <small>{{announcement.upload_date}}</small>
            <p>{{announcement.content}}</p>
            {% if announcement.file %}
            <a href="{{ announcement.file.url }}" target="_blank" style="color:unset; text-decoration:none;">
            <button class="submit-button">
                    <i class="fa fa-file-pdf-o">
                        Attached file
                    </i> 
                <br>
            </button></a>
            {% endif %}
            {% if announcement.link %}
            <a href="{{ announcement.link }}" target="_blank" style="color:unset; text-decoration:none;">
            <button class="submit-button">
                    <i class="fa fa-link">
                        Link
                    </i> 
                <br>
            </button>
            </a>
            {% endif %}
        </section>
    </main>
</body>
</html>
