{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-classroom</title>
    <link href="{% static "static/classroom/assignments.css" %}" rel="stylesheet">
</head>
<body>
    {% include "header.html" %}
    <main>
        <div class="main-menu">
            <nav class="main-menu-nav">
                <ul class="main-menu-list">
                    {% include "menu.html" with current_classroom_id=current_classroom_id %}
                    <!-- Add more menu items as needed -->
                </ul>
            </nav>
        </div>
        <section class="main-content" id="class-desc">
          {% if messages %}
            {% for message in messages  %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{message}}
                </div>
            {% endfor %}
          {% endif %}
            <h3>{{playlist}}: lectures</h3>
            {% if not lectures %}
                No lectures
            {% endif %}
            <div class="assignment-container">
            {% if user.role == 2 %}
              <div class="post">
                <div class="buttons">
                  <a href="{% url "lecture_add" current_classroom_id pid %}">
                  <button type="button" class="apply">  
                    Add lecture
                  </button></a>
                </div>      
              </div>
            {% endif %}
            {% if lectures %}
            <!-- lecture post -->
                {% for lecture in lectures %}
                <div class="post">
                  <!-- name and des -->
                  <div class="assignment-info">
                    <h1>
                      <p class="assignment-name">{{lecture.name}}</p>
                    </h1>
                  </div>
                  <div class="buttons">
                    <a href="{% url "SpecificLecture" current_classroom_id pid lecture.id %}">
                    <button type="button" class="apply">
                      View lecture
                    </button></a>
                  </div>      
                </div>
                <!-- lecture post end-->
                {% endfor %}
              </div>
            {% endif %}
        </section>
    </main>
</body>
</html>
