body {
    font-family: sans-serif;
    margin: 0; /* Reset default margin */
}

header {
    background: linear-gradient(to bottom right, #290974, #1639d5);
    color: white;
    padding: 20px;
}

.header-title {
    font-size: 2em;
    margin: 0;
}

.header-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-item {
    margin-right: 20px;
}

.header-nav-link {
    text-decoration: none;
    color: white;
}

.main-menu {
    height: 100vh; /* Set height to occupy full viewport height */
    width: 200px; /* Adjust width as needed */
    float: left; /* Float to left */
}
.selected {
    color: #ffffff; /* Text color for selected link */
    background-color: #1639d5; /* Background color for selected link */
}
.main-menu-nav {
    padding: 0px;
}

.main-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu-item {
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px #1639d5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.main-menu-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main-content {
    padding: 20px;
    margin-left: 220px; /* Ensure content doesn't overlap with the menu */
}

.registration-form {
    margin: 2% auto;
    width: 400px;
    /* Adjust width as needed */
    background-color: #f5f5f5;
    /* Light background color */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Field Container */
.field-container {
    margin-bottom: 15px;
}

/* Field Holder */
.field-holder {
    display: flex;
    /* Arrange labels and inputs side-by-side */
    margin-bottom: 10px;
    /* Space between fields */
}

.field-holder label {
    width: 50%;
    /* Adjust label width as needed */
    margin-right: 10px;
    /* Space between label and input */
    font-weight: bold;
    color: #290974;
    /* Dark color for labels */
}

.field-holder input[type="email"],
.field-holder input[type="password"] {
    width: 50%;
    /* Match label width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Action Holder */
.action-holder {
    display: flex;
    /* Arrange elements horizontally */
    justify-content: space-between;
    /* Align elements evenly */
    align-items: center;
}

.action-holder a {
    color: #290974;
    /* Dark color for link */
    text-decoration: none;
    /* Remove underline */
}

.action-holder a:hover {
    color: #1639d5;
    /* Light blue on hover */
}

/* Submit Button */
.submit-button {
    background-color: #1639d5;
    /* Light blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
ul {
    list-style-type: none;
}