body {
    font-family: sans-serif;
    margin: 0; /* Reset default margin */
}

header {
    background: linear-gradient(to bottom right, #290974, #1639d5);
    color: white;
    padding: 20px;
}

.header-title {
    font-size: 2em;
    margin: 0;
}

.header-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-item {
    margin-right: 20px;
}

.header-nav-link {
    text-decoration: none;
    color: white;
}

.main-menu {
    height: 100vh; /* Set height to occupy full viewport height */
    width: 200px; /* Adjust width as needed */
    float: left; /* Float to left */
}

.main-menu-nav {
    padding: 0px;
}

.main-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu-item {
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px #1639d5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.main-menu-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.selected {
    color: #ffffff; /* Text color for selected link */
    background-color: #1639d5; /* Background color for selected link */
}
.main-content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 100%;
    margin-left: 220px; /* Ensure content doesn't overlap with the menu */
}
.delete-button {
    padding: 15px;
    background-color:#290974;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.table-container {
    max-height: 300px; /* Adjust the maximum height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
    border-right: 2px solid #ddd;
}
th {
    color: #290974;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td {
    font-size: small;
}

.left-content {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-right: 2px solid #1639d5;
}
.right-content {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

