<header>
    <h1 class="header-title">E-classroom</h1>
    <br><br><br>
    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-item"><a href="{% url "home" %}" class="header-nav-link">Home</a></li>
            <li class="header-nav-item"><a href="#" class="header-nav-link">Profile</a></li>
            <li class="header-nav-item"><a href="#" class="header-nav-link">Login</a></li>
            <li class="header-nav-item"><a href="#" class="header-nav-link">Logout</a></li>
        </ul>
    </nav>
</header>