{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-classroom</title>
    <link href="{% static "css/user_profile.css" %}" rel="stylesheet">
</head>
<body>
    {% include "header.html" %}
    <main>
        <section class="main-content" id="class-desc">
            {% if messages %}
                {% for message in messages  %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            {% if user_profile.profile_pic %}
                <img src="{{ user_profile.profile_pic.url }}" alt="Profile Picture">
            {% else %}
                <img src="{% static "images/male.png" %}" alt="Default Profile Picture">
            {% endif %}
            <form class="registration-form" method="post" action="{% url "profile" %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{user_profile_form.profile_pic}}
                <div>
                    <p>Email: {{ user_profile.user.email }}</p>
                    <p>Firstname: </p>
                    {{user_mini_form.firstname}}
                    <p>Lastname: </p>
                    {{user_mini_form.lastname}}
                    <p>Username: </p>
                    {{user_mini_form.username}}
                </div>  
                <br><br>
                <div class="payment-holder">
                    <input type="submit" value="Update" class="submit-button">
                </div>
                {{user_mini_form.errors}}
                {{user_profile_form.errors}}
            </form>

        </section>
    </main>
</body>
</html>
