{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-classroom</title>
    <link href="{% static "css/main2.css" %}" rel="stylesheet">
</head>
<body>
    {% include "header.html" %}
    <main>
        <div class="main-menu">
            <nav class="main-menu-nav">
                <ul class="main-menu-list">
                    {% include "student_menu.html" %}
                    <!-- Add more menu items as needed -->
                </ul>
            </nav>
        </div>
        <section class="main-content">
            {% block content %}
            <!-- Content for corresponding pages goes here -->
            {% endblock content %}
        </section>
    </main>
</body>
</html>
