<li class="main-menu-item"><a href="#" class="main-menu-link">Manage classroom</a></li>
<li class="main-menu-item"><a href="#" class="main-menu-link">Assignments</a></li>
<li class="main-menu-item"><a href="#" class="main-menu-link">Add Assignments</a></li>
<li class="main-menu-item"><a href="#" class="main-menu-link">Assignments submissions</a></li>
<li class="main-menu-item"><a href="#" class="main-menu-link">Lectures</a></li>
<li class="main-menu-item"><a href="#" class="main-menu-link">Add Lectures</a></li>
<li class="main-menu-item"><a href="#" class="main-menu-link">Announcements</a></li>
<li class="main-menu-item"><a href="#" class="main-menu-link">Add Announcements</a></li>
<li class="main-menu-item"><a href="#" class="main-menu-link">Add Class</a></li>