body {
    font-family: sans-serif;
}

header {
    background: linear-gradient(to right, #4C99BF, #647DEE);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-title {
    font-size: 2em;
    margin: 0;
}

.header-nav {
    display: flex;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-item {
    margin-right: 20px;
}

.header-nav-link {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

#classes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.class-box {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #eee;
    color: black;
    display: block;
    width: calc(25% - 15px);
}

.add-class-button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #4C99BF;
    border-radius: 5px;
    background-color: #4C99BF;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}